openapi: 3.0.0
info:
  title: Patient API
  description: Patient API using swagger.io by Himesh Sharma
  contact:
    name: Himesh Sharma
    email: himesh.sharma2019@vitbhopal.ac.in
  version: 1.0.0
servers: 
 - url: http://hostapi.com
 - url: hhtp://manageapi.com
paths:
  /patient:
    description: Patient Resource
    get:
      description: Operation to fetch all the patients
      parameters: 
        - in: query
          name: patientname
          required: true
          schema:
            type: string
            example: Himesh
      responses:
        200:
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patients'
    put:
      description: Updates an existing patient record
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patient'
      responses:
        201:
          description: Record successfully updated
  /patient{id}:
    description: Deletes a patient record
    delete:
      parameters: 
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Successfully deletes the record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patient'
  /patient{find}:
    description: Get the patient based on path parameter
    get:
      parameters: 
        - in: path
          name: find
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success response with path parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patients'
components:
  schemas:
    patient:
      type: object
      properties:
        PatientID:
          type: integer
          example: 401
        PatientName:
          type: string
          example: Yash
        PatientProblem:
          type: string
          example: Cancer
        Bill:
          type: integer
          example: 5000000
    patients:
      type: array
      items:
        properties:
          PatientID:
            type: integer
            example: 401
          PatientName:
            type: string
            example: Yash
          PatientProblem:
            type: string
            example: Cancer
          Bill:
            type: integer
            example: 5000000